@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

body {
  font-size: 16px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  text-align: center;
  /* background: url('./assets/imgs/background5.jpg') center center no-repeat; */
  /* background-size: contain; */
  height: 100%;
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top: 4em;
}
/* .heading-background {
  position: fixed;
  opacity: 0.05;
  font-size: 25em;
  left: -0.2em;
  top: -0.5em;
  z-index: -100;
  color: #9352ae;
} */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 1em;
  font-weight: 400;
  padding: 2em;
  margin-right: 50em;
}
nav {
  position: fixed;
  left: 60em;
  top: 6em;
  z-index: 100;
}
nav li {
  display: inline-block;
  cursor: pointer;
}
nav li .link {
  text-decoration: none;
  color: black;
  padding: 1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover {
  opacity: 1;
}
.active {
  color: black;
  opacity: 1;
}

.header-title button {
  background: black;
  border: 0px;
  padding: 1em 3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  margin-top: 7em;
}
.header-title button:hover {
  opacity: 0.8;
  color: rgb(255, 255, 255);
}
.header-title button a {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: rgb(2, 2, 2);
  text-decoration: none;
}
.header-title button a:hover {
  color: rgb(255, 255, 255);
}

.header-title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: left;
  top: 2em;
}

.About {
  background: url('https://i.postimg.cc/XNHCXgRh/410234.jpg') no-repeat center
    center;
  background-size: auto;
}

.header-title button {
  color: rgb(255, 255, 255) !important;
  background-color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #000000;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.header-title button:hover {
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
  text-shadow: none;
}
.header-title button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
.header-title button:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: rgb(255, 255, 255) !important;
  background: #000000;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.about {
  display: flex;
  flex-direction: row;
}

.about-content {
  color: #fff;
  mix-blend-mode: difference;
  position: relative;
  font-size: 1em;
  left: 10em;
  line-height: 3em;
}
.about-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p {
  font-size: 1.3em;
  text-align: left;
  width: 37em;
  color: #fff;
  mix-blend-mode: difference;
}
/*  PROFILE IMAGE */
.about img {
  margin-left: 5em;
  height: 35em;
  transition: all 0.5s ease-in-out;
}

.about img:hover {
  transform: scale(1.05);
  filter: sepia(30%);
  filter: drop-shadow(16px 16px 20px rgb(37, 37, 37));
}

.about a {
  text-decoration: none;
  font-weight: 900;
  color: white;
  mix-blend-mode: difference;
  border: 1px solid #fff;
  padding: 5px 10px;
}
.about a::hover {
  text-decoration: none;
  font-weight: 900;
  color: #000;
  background-color: #fff;
}

.work {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 15em;
  top: 8em;
  align-items: flex-start;
}
.work .heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.project img {
  width: 30em;
  height: 30em;
}
.contact {
  position: relative;
  top: 20em;
  left: 15em;
  text-align: left;
}
.contact h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.amazing-color {
  color: #fff;
  filter: mix-blend-mode;
  opacity: 1;
}

.contact .email {
  color: black;
  font-size: 2em;
}
.contact li {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a {
  text-decoration: none;
  color: black;
}
.footer {
  position: relative;
  top: 2em;
  padding: 1em;
}
.footer a {
  text-decoration: none;
  color: #2c59fb;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 6px;
  }
  header h1 {
    font-size: 5em;
    padding: 1em;
    margin-right: 0em;
  }

  .heading-background {
    display: none;
  }
  nav {
    display: none;
  }
  .header-title {
    font-size: 3em;
    text-align: left;
    top: 1em;
    left: 1em;
  }
  .About {
    margin-top: -6em;
  }

  .about {
    position: relative;
    display: flex;
    width: 70vw;
    top: -25em;
    /* background-image: url('./assets/imgs/background2.jpg'); */
    /* background-color: #2c59fb; */
  }

  .about a {
    text-decoration: none;
    font-size: 3em;
    font-weight: 900;
    color: rgb(0, 0, 0);
    border: 3px solid red;
    padding: 5px 10px;
    background-color: rgba(255, 253, 253, 0.925);
    filter: drop-shadow(16px 16px 20px rgb(37, 37, 37));
    z-index: 100;
  }

  .about img {
    /* display: none; */
    height: 35em;
    margin-top: 15em;
    margin-left: -0.5em;
    position: relative;
    padding: unset;
    filter: drop-shadow(16px 16px 20px rgb(37, 37, 37));

    /* background: red; */
  }
  .about-content {
    left: 2em;

    width: 60vw;
    line-height: 25px;
  }
  .about-content p {
    font-size: 2.5em;
    text-align: left;
    width: 300px;
    color: #fff;
    mix-blend-mode: difference;
  }

  .work {
    left: 2em;
    top: 2em;
    align-items: flex-start;
  }
  .work .work-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5em;
  }
  .project img {
    margin-left: 4em;
    width: 55em;
    height: 55em;
  }

  .contact {
    top: 15em;
    left: 2em;
  }
  .contact h1 {
    font-size: 4em;
  }
  .contact .email {
    font-size: 3.5em;
  }

  .contact li {
    display: block;
    padding: 2em;
  }
  .contact li a {
    font-size: 2.5em;
  }
  .footer {
    top: 4em;
    padding: 1em;
    font-size: 2em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    font-size: 10px;
  }
  header h1 {
    font-size: 5em;
    padding: 1em;
    margin-right: 0em;
  }

  nav {
    display: none;
  }
  .header-title {
    font-size: 3.6em;
    text-align: left;
    top: 1em;
    left: 1em;
  }
  .About {
    background: red;
  }

  .about {
    position: relative;
    display: flex;
    top: -10em;
  }
  .about img {
    display: none;
  }
  .about-content {
    left: 6em;
  }

  .about-content p {
    font-size: 3.5em;
    text-align: left;
    width: 700px;
    border: 2px solid red;
    color: #fff;
    mix-blend-mode: difference;
  }

  .work {
    left: 6em;
    top: 4em;
    align-items: flex-start;
  }
  .work .work-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
  }
  .project img {
    width: 30em;
    height: 30em;
  }

  .contact {
    top: 15em;
    left: 6em;
  }
  .contact h1 {
    font-size: 4em;
  }
  .contact .email {
    font-size: 3.5em;
  }

  .contact li {
    display: block;
    padding: 2em;
  }
  .contact li a {
    font-size: 2.5em;
  }
  .footer {
    top: 4em;
    padding: 1em;
    font-size: 2em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */

  body {
    font-size: 20px;
  }
  header h1 {
    font-size: 3em;
    margin-right: 25em;
  }

  nav {
    left: 60em;
    top: 12em;
    z-index: 100;
  }
  nav li {
    font-size: 3em;
  }
  .header-title {
    font-size: 5em;
    top: 1em;
    left: 1em;
  }
  .about {
    position: relative;
    display: flex;
    top: -20em;
  }
  .about-content {
    left: 10em;
  }
  .about-content p {
    font-size: 3.5em;
    text-align: left;
    width: 25em;
  }
  .about img {
    margin-left: 1em;
  }

  .work {
    left: 10em;
    top: 4em;
    align-items: flex-start;
  }
  .work .work-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project img {
    width: 32em;
    height: 32em;
  }

  .contact {
    top: 10em;
    left: 8em;
  }
  .contact h1 {
    font-size: 8em;
  }
  .contact .email {
    font-size: 5em;
  }

  .contact li a {
    font-size: 4em;
    padding: 1em;
  }
  .footer {
    top: 4em;
    padding: 1em;
    font-size: 4em;
  }
}
