.social-media {
  display: flex;
  justify-content: flex-start;
}

.social-media a {
  display: flex;
  margin-left: 4em;
  height: 5em;
  text-decoration: none;
}

.social-media a span {
  display: flex;
  font-weight: 800;
  font-size: 2em;
  text-decoration: none;
  color: black;
  margin-top: -3em;
  margin-left: 3em;

  /* border: 1px solid red; */
}

.footer {
  display: flex;
  color: black;
  margin-left: 12.5em;
  margin-top: -3em;
  height: 5em;
  text-decoration: none;
}
