.social-media {
  display: flex;
  justify-content: flex-start;
}

.social-media a {
  display: flex;
  margin-left: 3em;
  height: 5em;
}

.social-media a span {
  display: flex;
  font-size: 2em;
  text-decoration: none;

  /* border: 1px solid red; */
}
